<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Audiophile e-commerce website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mx-auto px-10 lg:px-40 max-w-screen-2xl">
      <%= yield %>
    </div>
  </body>
</html>
